body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e0f2f7, #fff); /* Light blue to white gradient */
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 80%;
    max-width: 960px;
    overflow: hidden;
}

.left-side {
    background: linear-gradient(180deg, #1984D0, #ffffff); /* Lighter blue gradient */
    color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.left-side h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


.right-side {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-side h2 {
    font-size: 1.0em;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.form-group label {
    color: #555;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
   padding: 9px;
   background-color: #cccccc4f;
   border: 2px;
   border-radius: 15px;
   font-size: 1em;
   width: 300px;
   
   
}



.password-input-wrapper input[type="password"] {
    flex-grow: 1;
}


button {
    background-color: #4685DC;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px 9px;
    
    cursor: pointer;
    margin-left: 294px;
    margin-top: 20px;

    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #485094;
}

.login-link {
    font-size: 0.9em;
    color: #555;
    text-align: right;
}

.login-link a {
    color: #3f51b5;
    text-decoration: none;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

.login-link a:hover {
    text-decoration: underline;
}

